body{
    justify-content: center;
    display: flex;
    background-color: orange;
    max-width: 100%;
}
h2{
    padding: 0px 50px;
}
.container{
    border: 2px solid black;
}
.video1{
    padding: 40px;
    height: 300px;
    width: 300px;
}